<aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview menu-open" style="height: auto;">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
            </li>
        </ul>
        <h3>Admin panel</h3>
        <p>{{ user.email }}</p>
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <h1>
            <a href="{{ path('product_index') }}">Products</a>
        </h1>
        <h1>
            <a href="{{ path('category_index') }}">Categories</a>
        </h1>
        <h1>
            <a href="{{ path('user_index') }}">Users</a>
        </h1>
        <h1>
            <a href="{{ path('app.swagger_ui') }}">API DOC</a>
        </h1>
    </section>
</aside>