<h3>Admin panel</h3>
<p>{{ user.email }}</p>
<h1>
    <a href="{{ path('product_index') }}">Products</a>
</h1>
<h1>
    <a href="{{ path('category_index') }}">Categories</a>
</h1>
<h1>
    <a href="{{ path('user_index') }}">Users</a>
</h1>
<h1>
    <a href="{{ path('app.swagger_ui') }}">API DOC</a>
</h1>
